<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="connect" connectionString="Data Source=;Initial Catalog=Turf_application;User ID=sa;Password=passwd@12" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<customErrors defaultRedirect="~/Login.aspx" mode="Off"/>
		<compilation debug="true" targetFramework="4.5"/>
		<sessionState mode="InProc" timeout="60"/>
		<httpRuntime executionTimeout="10000000" maxRequestLength="214748364"/>
		<authentication mode="Forms">
			<forms timeout="60" />
		</authentication>
	</system.web>
	<appSettings>
		<!--<add key="WebReference.Login" value="http://183.87.70.10/WebServiceDemo1/Login.asmx" />-->
		<!--<add key="WebReference.Login" value="http://103.31.144.189/WebServiceDemo1/Login.asmx"/>-->
		<!--<add key="WebReference.Login" value="http://183.87.70.10/WebServiceDemo1/Login.asmx" />-->
	</appSettings>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="stud_registration.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>